@font-face {
    font-family: 'VisbyCFRounded';
    src: url('/reports_konery/static/src/fonts/VisbyRoundCF-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'VisbyCFRoundedDB';
    src: url('/reports_konery/static/src/fonts/VisbyRoundCF-DemiBold.ttf') format('truetype');
}